{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Campus Cookery{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={% now 'U' %}" />
        <script src="{% static 'js/searchbar.js' %}" defer></script>
        <script src="{% static 'js/dark_mode.js' %}" defer></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'components/navbar_mobile.html' %}
            {% include 'components/navbar.html' %}
            <div class="content">
                {% include 'components/searchbar.html' %}

                <main>
                {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
