{% extends 'nolayout.html' %}

{% block title %}
Login - Campus Cookery
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="login-box">
    <h2 class="page-title">Login</h2>
    <form action="{% url 'login'%}" method="post">
    {% csrf_token %}

    {% if error_message %}
    <p class="authentication-error">{{ error_message }}</p>
    {% endif %}

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit" class="btn">Login</button>
    </form>

    <p>Don't have an account? <a href="{%url 'signup' %}">Sign up</a></p>
  </div>
</div>
{% endblock %}
