<div class="navigation-bar-mobile">
    <div class="nav-items">
        <a href="{%url 'recipes' %}" class="{% if request.path == '/recipes/' %}nav-current{% endif %}">
            <i class="fa-solid fa-utensils"></i>
        </a>
        <a href="{%url 'articles' %}" class="{% if request.path == '/articles/' %}nav-current{% endif %}">
            <i class="fa-solid fa-book"></i>
        </a>
        <a href="{% url 'favourites' %}" class="{% if request.path == '/favourites/' %}nav-current{% endif %}">
            <i class="fa-solid fa-heart"></i>
        </a>

        <a href="{%url 'faq'%}" class="{% if request.path == '/faq/' %}nav-current{% endif %}">
            <i class="fa-solid fa-user-group"></i>
        </a>

        {% if user.is_authenticated %}
            <a class="{% if request.path == '/account/' %}nav-current{% endif %}" href="{%url 'account' %}">
                {% include 'components/profilepic.html' %}
            </a>
        {% else %}
            <a class="{% if request.path == '/login' or request.path == 'signup' %}nav-current{% endif %}" href="{%url 'login' %}">
                <i class="fa-solid fa-account"></i>
            </a>
        {% endif %}
    </div>
</div>
